@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "daisyui";

:root {
  --background: #ffffff;
  --primary:#8EC5FF; /*blue300*/
  --secondary:#50A2FF; /*blue400*/
  --error:#f60000;
  
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-error:var(--error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D232A;
   --primary:#8EC5FF; /*blue300*/
  --secondary:#50A2FF; /*blue400*/
 
  }
}

body {
  background: var(--background);
  font-family:Roboto, Arial, Helvetica, sans-serif;

}








